<p class = "explanation">Before & After<br> of <br> Your Room</p>

  <div class="content">
    <%= render @tweets %>
  </div>

  </main>
  
  <div class="pagination" >
  <%= paginate(@tweets) %>
  </div>



