@import "bootstrap";
@import "font-awesome";
@import "./tweets";
@import "./likes";
@import "./ranking";
@import "./comments";
@import "./users";
@import "./reset";


@media screen and (max-width: 1125px) {
  .wrapper {
    margin-top: 56px;
    padding: 0 5px;
  }
}
@media screen and (min-width:1126px) {
  .wrapper {
    margin-top: 56px;
    padding: 40px 60px;
  }
}

title.title {
  font-family: 'Fredericka the Great', cursive;
}


.notification{
  // display: inline;
  // float: left;
  // display: inline-block;
}

.explanation{
  text-align: center;
  font-size: 50px;
  font-family: 'Fredericka the Great', cursive;
}

