@import "bootstrap";
@import "font-awesome";
@import "./tweets";
@import "./likes";
@import "./ranking";
@import "./comments";
@import "./users";
@import "./reset";


title.title {
  font-family: 'Fredericka the Great', cursive;
}


.notification{
  // display: inline;
  // float: left;
  // display: inline-block;
}

.explanation{
  text-align: center;
  font-size: 50px;
  font-family: 'Fredericka the Great', cursive;
}

