

.images{
  height: 100%;
  width: 100%;
  display: flex;

  
  .image1{
    margin-right: 10px;
    box-sizing: border-box;
  }
  
  .image2{
    margin-left: 10px;
    box-sizing: border-box;
    
  }
}

